.fp{
    width: 45%;
	height: 37%;
	background-color: rgb(255, 255, 255);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
    text-align: center;
    display: flex;
	align-items: center;
	justify-content: center;
    flex-direction: column;
	margin-top: 25vh;
	border-color:  #59d7e7;
	border-width: 5px;
	border-style: groove;
	background-color: rgb(255, 255, 255);
}

input{
    text-align: center;
	background-color: rgb(236, 235, 235);
	width: auto;
}

button{
	color: rgb(255, 255, 255);
}

a1{
	color: rgb(255, 255, 255);
}