/* input-height: 75px; */

body {
  font-family: 'Nunito', sans-serif;
}

.form{
width: auto;
height: auto;
background-color: rgb(255, 255, 255);
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
margin-top: 14vh;
border-color:  #59d7e7;
border-width: 5px;
border-style: ridge;
background-color: rgb(255, 255, 255);
}