body {
  font-family: 'Nunito', sans-serif;
}

.form{
width: auto;
height: auto;
background-color: rgb(255, 255, 255);
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
background-color: rgb(255, 255, 255);
overflow: hidden;
}

.profile_button{
 margin-top: 30%;
}

input{
  text-align: left !important; 
}

