body{
    overflow: hidden;
  }
  
  #add_card{
      align-items: center;
      justify-content: center;
      margin-left: -10px;
      margin-top: 80px;
      animation: rotateIn !important; /* referring directly to the animation's @keyframe declaration */
      animation-duration: 2s !important; /* don't forget to set a duration! */
      border-radius: 50%;
      /* width: 10%; */
      -webkit-box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
      box-shadow: 10px 12px 18px -6px rgba(37, 37, 37, 0.753);
      background-color: transparent;
      height: 105px;
      width: 120px;
  }
  
  
  .add_icon{
    transition: 150ms;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    font-size: 250px;
    width: 135px;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
    margin-top: -5px ;
    text-decoration: none;
    color: #307aa8; /* fallback for old browsers */
    color: -webkit-linear-gradient(
      to bottom,
      #26a0da,
      #346280
    ); /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(
      to bottom,
      #26a0da,
      #306383
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  #add_card:hover {
    --translate-y: -8px;
    box-shadow: 0 0 5px 1px rgb(165, 166, 167);
    transform-style: preserve-3d;
  
  }