* {
    margin: 0;
  }
  
  
  
  .Signin{
  display: flex;
  
  }
  
  .Signin__Container1,.Signin__Container2{
  display: flex;
  flex-direction: column  ;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  }
  
  .Signin__Container2{
    background-color: rgb(246, 248, 248);
    
  }
  .Signin__Container1{
    background-color: rgb(0, 0, 0);
  }
  .Container1_button{
    color: rgb(7, 7, 7)!important;
    background-color: aliceblue!important;
  }